<div class="container">
    <div class="button-div">
        <button class="button" (click)="buttonClick()">{{buttonState}} Data</button>
    </div>
    <div class="table-div">
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let col of table.columns">
                        {{col.name}}
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i = index">
                    <td *ngFor="let col of table.columns">
                        <ng-container *ngIf="!user.editable || col.readonly">{{col.map(user[col.id])}}</ng-container>
                        <ng-container *ngIf="user.editable && tempUser && !col.readonly">
                            <input type="text" class="input" [(ngModel)]="tempUser[col.id]">
                        </ng-container>
                    </td>
                    <td *ngIf="!user.editable">
                        <button class="button-small" (click)="toggleEdit(user)">Edit</button>
                        <button class="button-small" (click)="deleteUser(user.email)">Delete</button>
                    </td>
                    <td *ngIf="user.editable">
                        <button class="button-small" (click)="updateUser(user.email)">Save</button>
                        <button class="button-small" (click)="user.editable = false">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
